<h1>User Sign up </h1>
<%# 原本為 User.new 把它搬到 sign_up @user 才可以重複使用 %>
<%= form_for(@user, url: '/sign_up', method: 'post') do |f| %>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div> 
      <%= f.label :password , "password"%>
      <%= f.password_field :password %>     
    </div>
    <div>
      <%= f.label :password_confirm, "password_confirm"%> 
      <%= f.password_field :password_confirm%>
    </div>

    <div>
      <%= f.submit "註冊"%>
    </div>
    
<%end%>

