
<h1 class="text-center my-3">餐點列表</h1>

<%= link_to "新增",  new_item_path %> 
<%= link_to "分類", categories_path%>

<div class="row my-3">
    <% @items.each do |item| %>
      <div class="col-4 item">
        <div class="card my-3">
          <div class="cover-img">
            <!-- <%= image_tag item.cover.variant(resize_to_limit: [200, 200]), class: 'cover-image' if item.cover.attached? %> -->
            <img src="https://picsum.photos/600/400?random=2">
            
          </div>
          
          <div class="card-body">
            <h5 class="card-title text-center">
              <%= item.category.name %>
            </h5>
            <p>
              <%= link_to item.name, item_path(item.id)%>
            </p>
            <p>
              <%= link_to "修改", edit_item_path(item.id), class: "btn btn-primary" %>
              <%= link_to "刪除", item_path(item.id), 
                  method: 'delete',class: "btn btn-danger" , data: { 
                  confirm: 'Are you Sure?'
                  } %>
            </p>
            </div>
          </div>
        
      </div>
    <% end %>
</div>



