
<h1>餐點列表</h1>

<%= link_to "新增",  new_item_path %> 
<%= link_to "分類", categories_path%>


<div class="row">
    <% @items.each do |item| %>
      <div class="col-4">
        <div class="card">
          <%= image_tag item.cover.variant(resize_to_limit: [200, 200]) if item.cover.attached? %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to item.name, item_path(item.id)%>
            </h5>
            <h5>
              <%= link_to "修改", edit_item_path(item.id), class: "btn btn-primary" %>
              <%= link_to "刪除", item_path(item.id), 
                  method: 'delete',class: "btn btn-danger" , data: { 
                  confirm: 'Are you Sure?'
                  } %>
            </h5>

            </div>
          </div>
        
        
        <%= item.category.name %>
       
      </div>
    <% end %>
</div>

